---
layout: default
title: Schedule
categories: Schedule
---

<div class="row section" id="upcoming-schedule-tasks">
    <div class="cell cell-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>What's going on?</h2>
                <p>Over the next months, we'll be finding our keynote speakers and making the presentation lineup. See below for important dates.</p>
            </div>
        </div>
        <!-- Keynote -->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2>Keynote Voting</h2>
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <h2><small class="light">Now until Oct. 21<sup>st</sup></small></h2>
            </div>
            {% if site.data.conf.toggles.vote-key %}
                <div class="col-xs-6">
                    <p><a href="https://wiki.code4lib.org/2017_Keynote_Speakers_Nominations">View the Nominees</a></p>
                </div>
                <div class="col-xs-6">
                    <p><a href="{{ site.data.conf.keynote-voting-link }}" class="btn btn-primary pull-right">Vote!</a></p>
                </div>
            {% endif %}
        </div>

        <!-- Talks -->
        <div class="row">

            <!-- Proposals -->
            <div class="col-xs-12 col-sm-7">
                <h2>Call for Conference Proposals</h2>
                <a href="/about/propose-a-talk.html">About Talk Proposals</a>
                <!-- <a href="//proposed-talks.html">View Proposed Talks</a> -->
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <h2><small class="light">Now until Nov. 7<sup>th</sup></small></h2>
                {% if site.data.conf.toggles.prop-talk %}
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.talk-proposal-form }}">Propose a Talk</a>
                {% endif %}
            </div>

            <!-- Votes -->
            <div class="col-xs-12 col-sm-7">
                <h2>Vote for Conference Proposals</h2>
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <h2><small class="light">Nov. 16<sup>th</sup> to Dec. 7<sup>th</sup></small></h2>
                {% if site.data.conf.toggles.vote-talk %}
                    <a class="btn btn-primary btn-lg" href="">Vote!</a>
                {% endif %}
            </div>
        </div>

        <!-- Workshops -->
        <div class="row">

            <!-- Proposals -->
            <div class="col-xs-12 col-sm-7">
                <h2>Call for Preconference Workshop Proposals</h2>
                <a href="/about/propose-a-workshop.html">About Preconference Workshops</a>
                <!-- <a href="//proposed-workshops.html">View Proposed Workshops</a> -->
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <h2><small class="light">TBD</small></h2>
                {% if site.data.conf.toggles.prop-shop %}
                <a class="btn btn-primary btn-lg" href="{{ site.data.conf.workshop-proposal-form }}">Propose a Wqrkshop</a>
                {% endif %}
            </div>

            <!-- Votes -->
            <div class="col-xs-12 col-sm-7">
                <h2>Vote for Preconference Workshops</h2>
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <h2><small class="light">TBD</small></h2>
                {% if site.data.conf.toggles.vote-shop %}
                    <a class="btn btn-primary btn-lg" href="">Vote!</a>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<div class="row section">
    <div class="cell cell-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>11 years of keynote presentations!</h2>
                {% include presentation_timeline_past.html param="past" %}
            </div>
        </div>
    </div>
</div>
