---
layout: default
title: Schedule
categories: Schedule
---

<div class="row section" id="upcoming-schedule-tasks">
    <div class="cell cell-lg">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-primary pull-right" href="/prospectus" style="margin-top: 30px;">Sponsor Code4Lib</a>
                <h1>What's going on?</h1>
                <p>Over the next months, we'll be finding our keynote speakers and making the presentation lineup. Keep your eye on this page for important dates!</p>
            </div>
        </div>

        <!-- Voting -->
        <div class="row">
            <div class="col-xs-12">
                <h2 style="border-bottom:1px solid; padding-bottom:5px;">Voting</h2>
            </div>

            <!-- Keynote -->
            {% if site.data.conf.toggles.vote-key %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Keynote Speakers</h3>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Oct. 21<sup>st</sup></small></h3>
                </div>
                <div class="col-xs-6">
                    <p><a href="https://wiki.code4lib.org/2017_Keynote_Speakers_Nominations">View the Nominees</a></p>
                </div>
                <div class="col-xs-6">
                    <p><a href="{{ site.data.conf.keynote-voting-link }}" class="btn btn-primary pull-right">Vote!</a></p>
                </div>
            {% endif %}

            <!-- Talks -->
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Talks</h3>
                    <a href="/talks/proposed-talks.html">View Proposed Talks</a>
                </div>
            {% if site.data.conf.toggles.vote-talk %}
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Nov. 16<sup>th</sup> to Dec. 7<sup>th</sup></small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.talk-voting-link }}" target="_blank">Vote!</a>
                </div>
            {% endif %}

            <!-- Panel -->
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Panel</h3>
                    <a href="/talks/proposed-panels.html">View Proposed Panels</a>
                </div>
            {% if site.data.conf.toggles.vote-panels %}
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Nov. 16<sup>th</sup> to Dec. 7<sup>th</sup></small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.panel-voting-link }}" target="_blank">Vote!</a>
                </div>
            {% endif %}

            <!-- Workshops -->
            {% if site.data.conf.toggles.vote-shop %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Preconference Workshops</h3>
                    <a href="/workshops/proposed-workshops.html">View Proposed Workshops</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 22<sup>nd</sup></small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.workshop-voting-link }}" target="_blank">Vote!</a>
                </div>
            {% endif %}

            <!-- T-shirt Logos -->
            {% if site.data.conf.toggles.vote-shirt %}
                <div class="col-xs-12 col-sm-7">
                    <h3>T-shirt Logos</h3>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">TBD</small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.shirt-voting-link }}" target="_blank">Vote!</a>
                </div>
            {% endif %}
        </div>

        <!-- Proposals -->
        <div class="row">

            <div class="col-xs-12">
                <h2 style="border-bottom:1px solid; padding-bottom:5px;">Proposals</h2>
            </div>

            <!-- Talks -->
            {% if site.data.conf.toggles.prop-talk %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Talks</h3>
                    <a href="/about/propose-a-talk.html">About Talk Proposals</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 7<sup>th</sup></small></h3>
                        <a class="btn btn-primary" href="{{ site.data.conf.talk-proposal-form }}">Propose a Talk</a>
                        <a class="btn btn-primary" href="{{ site.data.conf.panel-proposal-form }}">Propose a Panel</a>

                </div>
            {% endif %}

            <!-- Workshops -->
            {% if site.data.conf.toggles.prop-shop %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Preconference Workshops</h3>
                    <a href="/about/propose-a-workshop.html">About Preconference Workshops</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 8<sup>th</sup></small></h3>
                    <a class="btn btn-primary" href="{{ site.data.conf.workshop-proposal-form }}">Propose a Workshop</a>
                </div>
            {% endif %}

            <!-- T-shirts -->
            {% if site.data.conf.toggles.prop-shirt %}
                <div class="col-xs-12 col-sm-7">
                    <h3>T-shirt Logos</h3>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 18<sup>th</sup></small></h3>
                    <a class="btn btn-primary" href="{{ site.data.conf.shirt-proposal-form }}">Propose a Logo</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row section">
    <div class="cell cell-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>11 years of keynote presentations!</h2>
                {% include presentation_timeline_past.html param="past" %}
            </div>
        </div>
    </div>
</div>
