<div class="col-xs-12">
    <div class="row sponsor-plate">
        <div class="hidden-xs col-sm-3 col-md-2">
            <img src="/assets/img/badges/{{ include.badge }}.png" alt="{{ include.badge }} badge" class="img-responsive"/>
        </div>
        <div class="col-sm-6 col-md-8 text-center">
            <h2>{{ include.level }}</h2>
        </div>
        <div class="hidden-xs col-sm-3 col-md-2">
            <img src="/assets/img/badges/{{ include.badge }}.png" alt="{{ include.badge }} badge" class="img-responsive"/>
        </div>
    </div>
</div>