---
layout: default
title: Duty Officers
---
<div class="row section">
    <div class="cell cell-lg">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Duty Officers</h1>
            </div>
            <div class="col-md-12">
                <p>
                    During all days of the conference, including pre-conference and sponsored evening activities,
                    there will be <a href="http://wiki.code4lib.org/Duty_Officers">Duty Officers</a> available to
                    help provide support for anyone who been harassed, threatened, abused, or feels the
                    <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">CodeOfConduct4Lib</a>
                    has been violated during the conference. Below is a list of all duty officers, their photos,
                    and the times they will be "on duty".
                </p>
            </div>

            <h1>Contacting a Duty Officer</h1>
            <p>
                    To contact a duty officer, you can
                    <ul>
                        <li>Call or text <a href="tel:678-218-8064">678-218-8064</a>.</li>
                        <li>Send an email to <a href="mailto:c4l17-duty-officers@googlegroups.com">c4l17-duty-officers@googlegroups.com</a>. Only Duty Officers are subscribed to this mailing list, and no archive is kept.</li>
                        <li>Approach a Duty Officer in person, pictures of whom are below.</li>
                        <li>Ask a volunteer at the Luskin Center registration desk to summon a Duty Officer.</li>
                    </ul>
            </p>
            <div class="col-md-12">
                <div class="row">
                {% for officer in site.data.duty-officers %}
                    <div class="col-md-4"><div class="speaker-box text-center">
                        <div class="speaker-box-inner">
                            <img class="clip-circle-lg" src="/{{ officer.img }}" alt="{{ officer.name }}">
                            <h3 class="speaker-name">{{ officer.name }}</h3>
                        </div>
                    </div></div>
                {% endfor %}
                </div>
            </div>

            {% for session in site.data.duty-officers-schedule %}
            <h2>{{ session.title }}</h2>
            <div class="col-xs-12 keynote-sequence sequence">
                {% for officer in session.officers %}
                <div class="speaker-box text-center">
                    <div class="speaker-box-inner">
                        <img class="clip-circle-lg" src="{{ officer.img }}" alt="{{ officer.name }}">
                        <h3 class="speaker-name">{{ officer.name }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
      </div>
    </div>
</div>
